@font-face{
    font-family: MaisonNeueBold;
    src: url('../fonts/maisonneuebold.ttf') format('truetype');
    font-weight: bold;
}
@font-face{
    font-family: MaisonNeueMedium;
    src: url('../fonts/maisonneuemedium.ttf') format('truetype');
    font-weight: normal;
}
@font-face{
    font-family: MillerDisplayItalic;
    src: url("../fonts/Miller-Display-Italic.ttf") format('truetype');
}