@keyframes hamburger-open {
    0% {

        transform: translateY(-100%);
    }

    100% {

        transform: translateY(0%);

    }
}

@keyframes hamburger-close {
    from {

        transform: translateY(0%);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);

    }
}
.header__hamburger-close{
    
    animation-name: hamburger-close;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}
<<<<<<< HEAD
.header__hamburger-open{
    animation-name: hamburger-open;
    animation-duration: 0.5s;
}
=======

>>>>>>> 55b6f20aa09fac366eab564d5efaf7c98888e76f
@keyframes sliderAnimationFadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.sliderAnimationFadeOut {
    animation-name: sliderAnimationFadeOut;
    animation-duration: 0.6s;
    animation-timing-function: ease-in;
}