.header {
  background: white;
  z-index: 2;
  font-family: MaisonNeueBold;
  display: grid;
  grid-template-columns: 20fr 60fr 20fr;
  grid-template-rows: 8rem; }
  .header__cart {
    place-self: center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0; }
    .header__cart-numb {
      position: absolute;
      color: white;
      width: 1.5rem;
      height: 1.5rem;
      right: 1.1rem;
      top: 5.6rem;
      border-radius: 9999rem;
      background: black;
      font-family: MaisonNeueMono;
      padding: 0.3rem 0.4rem;
      box-sizing: border-box; }
  .header__hamburger {
    justify-self: center;
    align-self: center;
    z-index: 10; }
    .header__hamburger-inside {
      box-sizing: border-box;
      width: 100vw;
      font-size: 1.4rem;
      position: absolute;
      background: white;
      border: 3px solid black;
      border-left: none;
      border-top: none;
      font-family: "MaisonNeueMedium";
      z-index: 6;
      line-height: 5rem;
      text-transform: uppercase; }
      .header__hamburger-inside a {
        color: black;
        text-decoration: none; }
      .header__hamburger-inside ul {
        display: grid;
        place-items: center;
        list-style: none;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-padding-start: 0px; }
    .header__hamburger-close {
      animation-name: hamburger-close;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-iteration-count: 1; }
    .header__hamburger-open {
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-name: hamburger-open; }
    .header__hamburger, .header__hamburger::after, .header__hamburger::before {
      height: 0.4rem;
      width: 3.7rem;
      background-color: black;
      content: ""; }
    .header__hamburger::before {
      margin: -0.9rem 0;
      position: absolute; }
    .header__hamburger::after {
      margin: 0.9rem 0;
      position: absolute; }
  .header__heading {
    place-self: center;
    letter-spacing: 0.3em;
    font-size: 2.4rem; }

.slider {
  display: grid;
  width: 100vw;
  background-color: #f5f5f5;
  margin: 0 auto;
  padding-bottom: 2rem;
  /* &__image { 
        &:before {
            border-radius: inherit;
            
            background: -moz-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(43, 43, 43, 0.29) 100%);
            
            background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(43, 43, 43, 0.29) 100%);
            
            background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(43, 43, 43, 0.29) 100%);
            
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4a2b2b2b', GradientType=1);
            
            content: '';
            height: 33.5rem;
            position: absolute;
            opacity: 0;
            transition-duration: 1s;
            width: 45vw;
            z-index: 3;
        }
        &:hover {
            &::before {
                opacity: 1;
            }
        } 
    }*/ }
  .slider__cont {
    display: grid;
    grid-template-columns: 50fr 60fr;
    margin: 0;
    font-family: maisonNeueMedium; }
  .slider__link {
    display: grid;
    place-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /*&:before {
            border-radius: inherit;
            
            background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(43, 43, 43, 0.29) 100%);
            
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(43, 43, 43, 0.29) 100%);
            
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(43, 43, 43, 0.29) 100%);
            
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4a2b2b2b', GradientType=1);
            
            content: '';
            height: 33.5rem;
            position: absolute;
            opacity: 0;
            transition-duration: 1s;
            width: 55vw;

        }
        &:hover {
            &::before {
                opacity: 1;
            }
        }*/ }
    .slider__link--first {
      font-size: 1.9rem;
      place-self: end start; }
    .slider__link--second {
      font-size: 1.1rem;
      z-index: 5;
      padding-top: 1rem;
      color: rgba(0, 0, 0, 0.702); }
      .slider__link--second a {
        color: rgba(0, 0, 0, 0.702);
        text-decoration: underline; }

.dots {
  display: flex;
  justify-content: center; }
  .dots__dot {
    border: 0.2rem solid #e5e5e5;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 99999px; }
  .dots__active {
    background: #e5e5e5; }

.counter {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 7rem;
  left: 3rem;
  text-decoration: none;
  font-size: 1rem; }
  .counter__current-img {
    margin-right: 0.5rem;
    text-decoration: none; }
  .counter__of {
    font-family: MillerDisplayItalic;
    font-style: italic;
    margin-right: 0.5rem; }

.options {
  font-family: "MaisonNeueMedium";
  font-size: 1.9rem;
  margin: 2rem 2.5rem 0.5rem;
  display: flex;
  justify-content: space-around;
  letter-spacing: 0.15rem; }

.categories {
  display: flex;
  justify-content: flex-start;
  width: 50%; }
  .categories__icon {
    margin-top: 0.1rem; }
  .categories__menu {
    margin-top: 4rem;
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    position: absolute;
    background: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    left: 0;
    box-sizing: border-box; }
  .categories__list {
    margin: 2rem;
    list-style: none; }
    .categories__list li {
      margin: 2rem 0; }
      .categories__list li:first-of-type {
        font-size: 1.9rem;
        margin-bottom: 4rem;
        text-transform: none; }

.filter__title {
  width: 50%;
  text-align: right; }

.filter {
  position: absolute;
  margin-top: 4rem;
  width: 74.6%;
  grid-template-rows: 8rem 13rem 8rem 15rem 5rem;
  grid-template-columns: 100%;
  display: grid;
  border: 1px solid black;
  background: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0 4rem; }
  .filter__icon {
    position: relative;
    top: 0.3rem; }
  .filter__range {
    width: 25rem; }
  .filter__input {
    width: 3.5rem;
    border: 2px solid grey;
    font-size: 1.2rem;
    font-family: "MaisonNeueMono";
    padding: 0.5rem;
    height: 0.7rem;
    padding-top: 0.8rem; }
    .filter__input:first-child {
      margin-right: 1rem; }
  .filter__button {
    background: #f5f5f5;
    border: none;
    padding: 0.5rem;
    padding-top: 0.7rem;
    font-size: 1.2rem;
    font-family: 'MaisonNeueMedium';
    float: right; }
  .filter__price div {
    margin: 2rem 0; }
  .filter__price-scope {
    width: 100%;
    border: 1px solid black; }
    .filter__price-scope::before, .filter__price-scope:after {
      content: " ";
      transform: translateY(-50%);
      position: absolute;
      height: 2.2rem;
      width: 2.2rem;
      border: 3px solid black;
      border-radius: 99999rem;
      background: white; }
  .filter__header {
    align-self: center;
    text-transform: none;
    padding-bottom: 1rem;
    font-size: 1.6rem; }
  .filter__color {
    flex-wrap: wrap; }
    .filter__color-title {
      padding-bottom: 2rem; }
    .filter__color-checkbox {
      border-radius: 999999px;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem; }
      .filter__color-checkbox-active {
        position: absolute;
        transform: translate(35%, 35%); }
      .filter__color-checkbox-cont {
        display: flex; }
      .filter__color-checkbox:first-child {
        margin-left: 0; }
      .filter__color-checkbox-grey {
        background: #c7c7c7; }
      .filter__color-checkbox-white {
        border: 1px solid grey;
        background: white; }
      .filter__color-checkbox-red {
        background: #ff8b8b; }
      .filter__color-checkbox-blue {
        background: #b2e6fe; }
      .filter__color-checkbox-yellow {
        background: #fde999; }
      .filter__color-checkbox-green {
        background: #beffc9; }
  .filter__size div {
    margin: 2.5rem 0;
    text-transform: none;
    color: darkslategrey;
    font-size: 1.1rem;
    font-family: "MaisonNeueMono"; }
    .filter__size div:first-child {
      margin-top: 2rem; }
  .filter__size-active {
    color: black !important; }

.disp-none {
  display: none; }

.offer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 22rem) 8rem; }
  .offer__item {
    display: grid;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px; }
    .offer__item--double {
      grid-column: 1 / 3; }
    .offer__item-addToCart {
      font-family: 'MaisonNeueMono';
      color: dimgrey;
      font-size: 1rem;
      transform: translateY(-6px);
      align-self: center; }
      .offer__item-addToCart img {
        transform: translateY(3px);
        width: 1.7rem;
        margin-right: 0.4rem; }
    .offer__item-image {
      width: 37vw;
      place-self: center; }
      .offer__item-image--double {
        width: 87vw; }
    .offer__item-cont {
      display: grid;
      margin: 0rem 2.5rem;
      font-family: "MaisonNeueMedium";
      font-size: 1.4rem;
      word-break: keep-all;
      align-items: center; }
    .offer__item-price {
      font-family: 'MaisonNeueMono';
      color: dimgrey;
      align-self: start;
      font-size: 1rem; }

.more {
  grid-column: 1/3;
  place-self: center;
  font-size: 1.4rem;
  text-decoration: underline;
  font-family: 'MaisonNeueMedium'; }

.icon__heart {
  font-size: 2rem;
  position: absolute;
  z-index: 0;
  margin-top: 2.5rem; }
  .icon__heart-left {
    left: 37%; }
  .icon__heart-right {
    left: 87%; }

.footer {
  grid-template-rows: 10rem 10rem 10rem;
  width: 100vw;
  background: #f5f5f5;
  font-size: 1.4rem;
  font-family: 'MaisonNeueMedium';
  justify-items: center; }
  .footer__sub {
    justify-items: center;
    display: grid;
    border-bottom: 1px outset grey;
    padding: 3rem 0 5rem 0; }
    .footer__sub-header {
      padding: 1rem 0;
      font-size: 3rem;
      font-family: "MillerDisplayItalic";
      margin-bottom: 1rem; }
    .footer__sub-input {
      padding: 0.6rem 1.5rem;
      border: 3px solid dimgrey;
      line-height: 1;
      height: 2.5rem;
      width: 50vw; }
    .footer__sub-button {
      transform: translateX(-10px);
      padding: 1.06rem 1.8rem;
      background: white;
      letter-spacing: 0.1rem;
      color: #191919;
      border: 3px solid black;
      font-family: 'MaisonNeueMedium'; }
  .footer__links {
    display: grid;
    place-content: center;
    grid-template-rows: 8rem; }
    .footer__links div {
      display: grid;
      place-items: center; }

.link {
  color: black;
  grid-row: 1;
  font-family: 'MaisonNeueMedium';
  text-decoration: none;
  padding: 1rem 1.5rem;
  word-break: keep-all; }

.social {
  font-size: 1.4rem;
  background: white;
  padding: 3rem 3rem;
  color: grey; }
  .social a {
    color: grey;
    text-decoration: none; }
  .social__icon {
    font-size: 1.9rem;
    float: right;
    transform: translateY(-4px);
    letter-spacing: 2rem; }

@media (min-width: 850px) {
  html {
    font-size: 62.5%; }
  .header__cart {
    transform: scale(1); }
  .header__heading {
    visibility: hidden; }
  .header__hamburger {
    visibility: hidden; }
    .header__hamburger-inside {
      display: grid;
      background: transparent;
      border: none; }
      .header__hamburger-inside ul {
        display: flex; }
        .header__hamburger-inside ul li {
          margin-right: 1rem; } }

@font-face {
  font-family: MaisonNeueBold;
  src: url("../fonts/maisonneuebold.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: MaisonNeueMedium;
  src: url("../fonts/maisonneuemedium.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: MillerDisplayItalic;
  src: url("../fonts/Miller-Display-Italic_30498.ttf") format("truetype"); }

@font-face {
  font-family: MaisonNeueMono;
  src: url("../fonts/MaisonNeue-Mono.ttf") format("truetype"); }

@keyframes sliderMoveLeft {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100vw); } }

@keyframes sliderMoveRight {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100vw); } }

@keyframes hamburger-open {
  0% {
    transform: translate(-100%, 0); }
  100% {
    transform: translate(0%, 0); } }

@keyframes hamburger-close {
  from {
    transform: translate(0%, 0); }
  to {
    opacity: 0;
    transform: translate(-100%, 0); } }

@keyframes changePicture {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeIn {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s; }

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s; }

body {
  color: #232323;
  margin: 0; }

html {
  font-size: 62.5%; }

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0px; }
