 .options {
     font-family: "MaisonNeueMedium";
     font-size: $font-size + 0.5rem;
     margin: 4rem 4rem 4rem 4rem;
     display: flex;
     justify-content: space-around;

 }

 .categories {
     display: flex;
     justify-content: flex-start;
     width: 50%;
     &__menu {
         margin-top: 4rem;
         width: 80vw;
         display: flex;
         justify-content: flex-start;
         border: 1px solid black;
         position: absolute;
         background: white;
         font-size: $font-size + 0.2rem;
         text-transform: uppercase;
         padding-right: 4rem;
     }
     &__list {
         margin: 2rem;
         list-style: none;
         li {
             margin: 2rem 0;
             &:first-of-type {
                 font-size: $font-size + 0.5rem;
                 margin-bottom: 4rem;
                 text-transform: none;
             }
         }
     }
 }

 .filter-title {
     width: 50%;
     text-align: right;
 }

 .filter {
     position: absolute;
     margin-top: 4rem;
     width: 80vw;
     grid-template-rows: 8rem 16rem 16rem 27rem 5rem;
     grid-template-columns: 100%;
     display: grid;
     border: 1px solid black;
     background: white;
     font-size: $font-size - 0.2rem;
     text-transform: uppercase;
     padding: 0 4rem;
     &__input {
         width: 4rem;
         border: 2px solid grey;
         font-size: $font-size - 1rem;
         font-family: "MaisonNeueMono";
         padding: 0.5rem;
         height: 1rem;
         &:first-child {
             margin-right: 1rem;
         }

     }
     &__button {
         background: $second-color;
         border: none;
         padding: 0.5rem;
         font-size: $font-size - 0.8rem;
         font-family: 'MaisonNeueMedium';
         float: right;

     }
     &__price {
         div {
             margin: 2rem 0;
         }
         &-scope {
             width: 100%;
             border: 1px solid black;
             &::before,
             &:after {
                 content: " ";
                 transform: translateY(-50%);
                 position: absolute;
                 height: 2.2rem;
                 width: 2.2rem;
                 border: 3px solid black;
                 border-radius: 99999rem;
                 background: white;
             }
         }
     }




     &__header {
         text-transform: none;
         font-size: $font-size + 0.2rem;
     }
     &__color {
         flex-wrap: wrap;
         &-title{
             padding-bottom: 2rem;
         }
         &-checkbox {
             &-cont {
                 display: flex;

             }
             &:first-child {
                 margin-left: 0;
             }
             margin: 1rem;

             border-radius: 100rem;
             width: 3rem;
             height: 3rem;

             &-active {
                 &:before {
                     content: '';

                 }
             }
             &-grey {
                 border: 1px solid #c7c7c7;
                 background: #c7c7c7;
             }
             &-white {
                 border: 1px solid black;
                 background: black;
             }
             &-red {
                 background: #ff8b8b;
                 border: 1px solid #ff8b8b;
             }
             &-blue {
                 background: #b2e6fe;
                 border: 1px solid #b2e6fe;
             }
             &-yellow {
                 background: #fde999;
                 border: 1px solid #fde999;
             }
             &-green {
                 background: #beffc9;
                 border: 1px solid #beffc9;
                 

             }

         }

     }
     &__size {
         div {
             &:first-child {
                 margin-top: 5rem;
             }
             margin: 2.5rem 0;
             text-transform: none;
             color: darkslategrey;
             font-size: $font-size - 0.5rem;
             font-family: "MaisonNeueMono";
         }
     }
 }

 .disp-none {
     display: none;
 }
