.footer {
    grid-template-rows: 10rem 10rem 10rem;
    width: 100vw;
    background: $second-color;
    font-size: $font-size;
    font-family: 'MaisonNeueMedium';
    justify-items: center;
    &__sub {
        justify-items: center;
        display: grid;
        border-bottom: 1px outset grey;
        padding: 3rem 0 5rem 0;
        &-header {
            padding: 1rem 0;
            font-size: $font-size + 1.6rem;
            font-family: "MillerDisplayItalic";
            margin-bottom: 1rem;

        }
        &-input {
            padding: 0.6rem 1.5rem;
            border: 3px solid dimgrey;
            line-height: 1;
            height: 2.5rem;
            width: 50vw;
        }
        &-button {
            transform: translateX(-10px);
            padding: 1.06rem 1.8rem;
            background: white;
            letter-spacing: 0.1rem;
            color: rgb(25,25,25);
            border: 3px solid black;
            font-family: 'MaisonNeueMedium';
            
        }
    }
    &__links {
        display: grid;
        place-content: center;
        grid-template-rows: 8rem;
        div{
            display: grid;
            place-items: center;
        }
    }
}
.link{
    color: black;
    grid-row: 1;
    font-family: 'MaisonNeueMedium';
    text-decoration: none;
    padding: 1rem 1.5rem;
    word-break: keep-all;
    
}
.social{
    font-size: $font-size;
    background: white;
    padding: 3rem 3rem;
    color: grey;
    a{
        color: grey;
        text-decoration: none;
    }
    &__icon{
        font-size: $font-size + 0.5rem;
        float: right;
        transform: translateY(-4px);
        letter-spacing: 2rem;
        
    }
}