.header {
    background: white;
    z-index: 2;
    font-family: MaisonNeueBold;
    display: grid;
    grid-template-columns: 20fr 60fr 20fr;
    grid-template-rows: 8rem;
    &__cart {
        place-self: center;
        position: absolute;
        top: 20px;
        right: 6vw;
        &-numb {
            &-box {
            }
            top: 65%;
            right: -0.5vw;
            position: absolute;
            color: white;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 9999rem;
            background: black;
            font-family: MaisonNeueMono;
            padding: 0.3rem 0.4rem;
            box-sizing: border-box;
        }
    }
    &__hamburger {
        justify-self: center;
        align-self: center;
        z-index: 10;
        &-inside {
            box-sizing: border-box;
            width: 100vw;
            font-size: $font-size;
            position: absolute;

            position: fixed;
            background: white;
            border: 3px solid black;
            border-left: none;
            border-top: none;
            font-family: "MaisonNeueMedium";
            z-index: 6;
            line-height: 5rem;
            text-transform: uppercase;

            a {
                color: black;
                text-decoration: none;
            }
            ul {
                display: grid;
                place-items: center;
                list-style: none;
            }
        }

        &,
        &::after,
        &::before {
            height: 0.4rem;
            width: 3.7rem;
            background-color: black;
            content: "";
        }

        &::before {
            margin: -0.9rem 0;
            position: absolute;

        }
        &::after {
            margin: 0.9rem 0;
            position: absolute;

        }
    }
    &__heading {
        place-self: center;
        letter-spacing: 0.3em;
        font-size: $font-size + 1rem;
    }
}
