.header {
    background: white;
    z-index: 2;
    font-family: MaisonNeueBold;
    display: grid;
    grid-template-columns: 20fr 80fr 20fr;
    grid-template-rows: 13rem;
    &__cart {
        place-self: center;
        transform: scale(2);
        &-numb {
            position: relative;
            top: 0.0695rem;
            right: 0.05rem;
            font-family: MaisonNeueMono;
        }
        &-numb-box {
            &::before {
                width: 0.1rem;
                height: 2rem;
                position: relative;
                content: " ";
            }
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            color: white;
            bottom: -0.4rem;
            left: 1.3rem;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 9999rem;
            background: black;

        }
    }
    &__hamburger {
        justify-self: center;
        align-self: center;
        z-index: 10;
        &-inside{
            box-sizing: border-box;
            width: 100vw;
            font-size: $font-size;
            position: absolute;
            background: white;
            border: 3px solid black;
            border-left: none;
            border-top: none;
            font-family: "MaisonNeueMedium";
            z-index: 6;
            line-height: 5rem;
            text-transform: uppercase;
            
            a {
                    color: black;
                text-decoration: none;
            }
            ul {
                display: grid;
                place-items: center;
                list-style: none;
                
            }
        }
        &-close{
            animation-name: hamburger-close;
            animation-duration: 1s;
            animation-timing-function: ease-in;
            animation-iteration-count: 1;

        }
        &-open {
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-name: hamburger-open;

        }

        &,
        &::after,
        &::before {
            height: 0.5rem;
            width: 4.5rem;
            background-color: black;
            content: "";
        }

        &::before {
            margin: -1.3rem 0;
            position: absolute;

        }
        &::after {
            margin: 1.2rem 0;
            position: absolute;

        }
    }
    &__heading {
        place-self: center;
        letter-spacing: 0.3em;
        font-size: $font-size + 1.5rem;
    }
}
